body {
    margin: 0 0 0 0 ;
}

.welcome {
    display : flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    background-color: yellow ;

}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;

}

.about {

    display: flex;
    flex-direction: column;
    text-align : center;
    justify-content: center;
    height: 30vh;
    background-color: lightblue;

}

.contact {
    display : flex;
    flex-direction: column;
    text-align: center;
    height: 20vh;
    background-color: grey;

}

.space {
    justify-content: space-between;
    display: flex;
    font-size: medium;
}

.left {
    float: left;
}

.right {
    float: right;
}
