.form{
    margin-top: 10vh;
    justify-content: center;
    height: 40vh;
    width:  50vw;
    border: 3px black solid;
    border-radius: 4px;
    padding: 10px 10px;
}
.input-large{
    height: 30px;
    width: 100px;
    border-radius: 5px;;
}
.input-medium{
    height: 15px;
    border-radius: 5px;;
}